<html>
    <head>
        <title>
            Crop Prediction project
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="text-center mb-3">
<h1>Crop Prediction Home page</h1></div>
<div class="col-md-7 mx-auto">
    {% if result %}
<div class="bg-dark border border-rounded mb-5 text-center">
  <h3 class="text-white">Predicted Crop Is : {{result}}</h3>  
</div>
 {% endif %}
    <form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="temperature" class="form-label">Input Temperature</label>
    <input type="text" class="form-control" name="temperature" id="temperature">
    </div>
    <div class="mb-3">
        <label for="humidity" class="form-label">Input humidity</label>
    <input type="text" class="form-control" name="humidity" id="humidity">
    </div>
    <div class="mb-3">
        <label for="phlavel" class="form-label">Input PH lavel</label>
    <input type="text"class="form-control" name="phlavel" id="phlavel">
    </div>
    <div class="mb-3">
        <label for="water" class="form-label">Input water avilability</label>
    <input type="text"class="form-control" name="water" id="water">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Choose Season</label><br>
        <input type="radio" name="season" value="0.0">Rainy
        <input type="radio" name="season" value="3.0">Winter
        <input type="radio" name="season" value="1.0">Spring
        <input type="radio" name="season" value="2.0">Summer
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-dark">Predict Crop !</button>
        <button type="reset" class="btn btn-dark">Reset</button>
    </div>
</form></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>